@model AcademicManagementSystem.ViewModels.TeacherEnrollmentEditVM
@{
    ViewData["Title"] = "Update Enrollment";
}

<h2>Update: @Model.StudentFullName (@Model.StudentIndex)</h2>

<form asp-area="Teacher" asp-controller="Teacher" asp-action="EditEnrollment" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="CourseId" />
    <input type="hidden" asp-for="StudentId" />
    <input type="hidden" asp-for="Year" />

    <div class="mb-3">
        <label asp-for="Points" class="form-label"></label>
        <input asp-for="Points" class="form-control" />
        <span asp-validation-for="Points" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Grade" class="form-label"></label>
        <input asp-for="Grade" class="form-control" />
        <span asp-validation-for="Grade" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="FinishDate" class="form-label"></label>
        <input asp-for="FinishDate" class="form-control" />
        <span asp-validation-for="FinishDate" class="text-danger"></span>
        <div class="form-text">Ако внесеш датум -> студентот станува inactive.</div>
    </div>

    <hr />
    <h5>Read-only URLs</h5>
    <input class="form-control mb-2" value="@Model.SeminarUrl" readonly />
    <input class="form-control mb-2" value="@Model.ProjectUrl" readonly />
    <input class="form-control mb-2" value="@Model.ExamUrl" readonly />

    <button class="btn btn-primary" type="submit">Save</button>
    <a class="btn btn-secondary"
       asp-area="Teacher"
       asp-controller="Teacher"
       asp-action="Course"
       asp-route-id="@Model.CourseId"
       asp-route-year="@Model.Year">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
